<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444769034766-v194633jdue1qgmk7aehugndco9cc4bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444769034766-v194633jdue1qgmk7aehugndco9cc4bh</string>
	<key>API_KEY</key>
	<string>AIzaSyCaTX0z0kqxIaxCUm_lFABILvFK2_edkd0</string>
	<key>GCM_SENDER_ID</key>
	<string>444769034766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Apps.createUser</string>
	<key>PROJECT_ID</key>
	<string>customlogindemohugo</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogindemohugo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444769034766:ios:3eed4371aae10dd53e525f</string>
	<key>DATABASE_URL</key>
	<string>https://customlogindemohugo.firebaseio.com</string>
</dict>
</plist>